html, body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -ms-overflow-style: 1vw;
  /* Internet Explorer 10+ */
  scrollbar-width: 1vw;
  font-family: "Karla", 'ATC Arquette 1_5_17', sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
}

html, body div {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

a, button {
  color: inherit;
  text-decoration: none;
  outline: none;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 0.6vw;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #d3ebd3;
  border-radius: 999px;
}

::-moz-selection {
  /* Code for Firefox */
  color: ffffff;
  background: #bebebe;
}

::selection {
  color: #fafafa;
  background: #bebebe;
}

#mobile {
  display: none;
}

.hamburger {
  display: none;
}

.nav-mobile, #nav-mobile {
  display: none;
}

@-webkit-keyframes loadingPage {
  0% {
    color: #f2d5d5;
  }
  25% {
    color: #fff2cc;
  }
  50% {
    color: #d3ebd3;
  }
  75% {
    color: #dae3f3;
  }
  100% {
    color: #f2d5d5;
  }
}

@keyframes loadingPage {
  0% {
    color: #f2d5d5;
  }
  25% {
    color: #fff2cc;
  }
  50% {
    color: #d3ebd3;
  }
  75% {
    color: #dae3f3;
  }
  100% {
    color: #f2d5d5;
  }
}

@-webkit-keyframes blowUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes blowUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 5vw);
            transform: translate(0, 5vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 5vw);
            transform: translate(0, 5vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes handOut {
  0% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
}

@keyframes handOut {
  0% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
}

@-webkit-keyframes doublequotes {
  0% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
  75% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
}

@keyframes doublequotes {
  0% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
  75% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(inherit, 0);
            transform: translate(inherit, 0);
  }
}

@-webkit-keyframes slideOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes homeCircleOpacity {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes homeCircleOpacity {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleInfinite {
  0% {
    -webkit-transform: scale(1) translate(-50%, -70%);
            transform: scale(1) translate(-50%, -70%);
  }
  50% {
    -webkit-transform: scale(1.1) translate(-50%, -70%);
            transform: scale(1.1) translate(-50%, -70%);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -70%);
            transform: scale(1) translate(-50%, -70%);
  }
}

@keyframes scaleInfinite {
  0% {
    -webkit-transform: scale(1) translate(-50%, -70%);
            transform: scale(1) translate(-50%, -70%);
  }
  50% {
    -webkit-transform: scale(1.1) translate(-50%, -70%);
            transform: scale(1.1) translate(-50%, -70%);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -70%);
            transform: scale(1) translate(-50%, -70%);
  }
}

@-webkit-keyframes falling {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100vh;
  }
}

@keyframes falling {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100vh;
  }
}

.load {
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  position: fixed;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load-title {
  color: #bebebe;
  font-size: calc(2vw + 2px);
  letter-spacing: -0.05em;
}

.load-color {
  font-weight: 700;
  -webkit-animation: loadingPage 3s linear infinite;
          animation: loadingPage 3s linear infinite;
}

.load-sub-title {
  font-size: calc(1vw + 2px);
  color: #bebebe;
}

#main {
  background-color: transparent;
}

#quote > div, #work > div, #about > div, #contact div {
  opacity: 0;
}

.nav {
  height: 100vh;
  width: 7vw;
  border-left: 0.05vw solid #bebebe;
  background-color: #fafafa;
  position: fixed;
  right: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(1vw + 2px);
}

.nav-block {
  cursor: pointer;
}

.nav-ball {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-ball:active {
  -webkit-transform: translate(0, -1vw);
          transform: translate(0, -1vw);
}

#nav-ball-home {
  background-color: #d3ebd3;
}

#nav-ball-work {
  background-color: #f2d5d5;
}

#nav-ball-about {
  background-color: #fff2cc;
}

#nav-ball-contact {
  background-color: #dae3f3;
}

.nav > div {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-block p {
  width: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.link {
  width: 92.4vw;
  position: fixed;
  bottom: 3vw;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(1vw + 2px);
}

#link-cv {
  border: 0.05vw solid #bebebe;
  background-color: #fafafa;
  border-radius: 999px;
  padding: 0.3em 1em;
  margin-left: 4vw;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#link-cv-click-on-it {
  margin-left: 1em;
  color: #bebebe;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.link-logo {
  opacity: 0;
  height: 0.25em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fafafa;
  margin-right: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-logo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1.5vw + 2px);
}

.main {
  width: 92.4vw;
}

.home {
  padding: 4vw;
  position: relative;
  z-index: 15;
}

.home-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6.8vw;
}

.home-pre-title {
  font-weight: 700;
  font-size: calc(1.5vw + 2px);
}

.home-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: calc(1vw + 2px);
}

.home-languages a {
  margin-left: 2em;
  padding-bottom: 0.2em;
  font-size: calc(1vw + 2px);
}

.home-title {
  font-size: calc(7vw + 2px);
  font-weight: 700;
}

.home-sub-title {
  font-size: calc(2vw + 2px);
}

.home-title-highlight {
  background-color: #f2d5d5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-title-highlight:hover {
  cursor: pointer;
  opacity: 0.75;
}

.home-click-on-it {
  opacity: 0;
  margin-top: 1em;
  font-size: calc(1vw + 2px);
  color: #bebebe;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-circle {
  cursor: pointer;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: #fff2cc;
  position: absolute;
  z-index: -5;
  top: -12.5vw;
  left: -12.5vw;
  -webkit-transition-timing-function: cubic-bezier(0.15, 0.7, 0.15, 0.7);
          transition-timing-function: cubic-bezier(0.15, 0.7, 0.15, 0.7);
}

.home-circle:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.home-circle-2 {
  cursor: pointer;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: rgba(211, 235, 211, 0.3);
  top: 50vw;
  left: 12.5vw;
  position: absolute;
  z-index: -5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: calc(1vw + 2px);
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.home-circle-2 > div {
  width: 60%;
  -webkit-animation: homeCircleOpacity 5s ease infinite;
          animation: homeCircleOpacity 5s ease infinite;
}

.home-circle-2:active {
  opacity: 0;
}

.home-img {
  position: relative;
  right: -6vw;
  z-index: -1;
}

.home-img img {
  height: 25vw;
  border-radius: 50%;
  position: absolute;
  right: 0;
  opacity: 0.6;
}

.home-img .home-img-filter {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: #dae3f3;
  position: absolute;
  right: 0;
  z-index: -2;
}

.home-img-filter .home-img-filter-1 {
  height: 12.5vw;
  width: 12.5vw;
  border-radius: 50%;
  background-color: #dae3f3;
  position: absolute;
  left: -7.5vw;
  z-index: -2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home-img-filter-1:hover {
  cursor: pointer;
  -webkit-animation: blowUp 0.5s ease-out forwards;
          animation: blowUp 0.5s ease-out forwards;
}

.quote {
  margin-top: 30vw;
  padding-bottom: 10vw;
  position: relative;
  z-index: 20;
}

.quote .quote-text {
  width: 100%;
  height: 30vw;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(3vw + 2px);
  font-family: "Prata", "serif";
  color: #333333;
}

.quote .quote-img-hand {
  height: 30vw;
  position: absolute;
  z-index: 5;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

.quote .quote-img-hand img {
  width: 20vw;
  -webkit-transform: translate(-25vw, 0);
          transform: translate(-25vw, 0);
}

.quote-doublequotes {
  cursor: pointer;
  position: relative;
  top: -8vw;
  left: -0.5em;
  font-size: 7vw;
  font-family: "Prata", "serif";
  color: #f2d5d5;
  -webkit-transform: translate(-25vw, 0);
          transform: translate(-25vw, 0);
}

.pink-text, .color-1 {
  color: #f2d5d5;
}

.yellow-text, .color-2 {
  color: #fff2cc;
}

.blue-text, .color-3 {
  color: #dae3f3;
}

.green-text, .color-4 {
  color: #d3ebd3;
}

.work {
  padding-top: 4vw;
}

.work-title {
  cursor: pointer;
  padding-left: 4vw;
  font-weight: 700;
  font-size: calc(4vw + 2px);
  color: black;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.work-title:active {
  letter-spacing: 0.1em;
}

.work-title-text {
  position: relative;
  z-index: 2;
}

.work-title .work-highlight {
  width: 2.8em;
  height: 0.8em;
  background-color: #fff2cc;
  position: relative;
  z-index: 1;
  top: -0.8em;
  left: 0.4em;
}

.work-intro {
  padding-left: 4vw;
  font-size: calc(2vw + 2px);
}

.work-intro a {
  background-color: #dae3f3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.work-intro a:hover {
  opacity: 0.75;
}

.work-main {
  width: 100%;
  margin-top: 4vw;
  border-top: 0.05vw solid #bebebe;
  border-bottom: 0.05vw solid #bebebe;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.work-main-block {
  height: 12vw;
  background-color: transparent;
  border-left: 0.05vw solid #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-main-block:hover {
  cursor: pointer;
}

.work-main-block-title {
  height: 0.4em;
  width: auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #f2d5d5));
  background-image: linear-gradient(to right, transparent 50%, #f2d5d5 50%);
  background-position: 0;
  background-size: 200%;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Prata", "serif";
  font-size: calc(1.5vw + 2px);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.work-main-block-des {
  font-size: calc(1vw + 2px);
  text-align: center;
}

#work-showcase {
  width: 100%;
  border-bottom: 0.05vw solid #bebebe;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.work-showcase > div {
  opacity: 0;
  -webkit-animation: slideOpacity 1s ease-out forwards;
          animation: slideOpacity 1s ease-out forwards;
}

.work-showcase-artworks {
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work-showcase-artworks-copied {
  opacity: 0;
  position: relative;
  bottom: 0.5vw;
  font-size: calc(1vw + 2px);
  color: #bebebe;
  letter-spacing: -0.05em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.work-showcase-artworks-pallete {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1vw + 2px);
}

.work-showcase-artworks-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-showcase-artworks-color-name {
  cursor: text;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  margin-top: 1em;
}

.work-showcase-artworks-color-ball {
  cursor: pointer;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
}

.work-showcase-artworks-color-ball:hover {
  -webkit-transform: translate(0, -0.5vw);
          transform: translate(0, -0.5vw);
}

.work-showcase-artworks img {
  width: 46.2vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.work-showcase-webapp {
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-showcase-webapp-img {
  width: 46.125vw;
  height: 27vw;
  border-left: 0.05vw solid #bebebe;
  border-bottom: 0.05vw solid #bebebe;
  background-size: cover;
  background-position: center;
}

.work-showcase-webapp-block {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(250, 250, 250, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1vw + 2px);
  letter-spacing: -0.04em;
  text-align: center;
}

.work-showcase-webapp-des {
  padding: 2vw;
  font-size: calc(1.5vw + 2px);
}

.work-showcase-webapp-des:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.work-showcase-webapp-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(1.5vw + 2px);
  font-weight: 500;
  color: #2d2d2d;
}

.work-showcase-webapp-link > a {
  cursor: pointer;
  height: 2.5em;
  width: 2.5em;
  margin: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.075vw solid #bebebe;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.work-showcase-webapp-link > a:hover {
  background-color: rgba(218, 227, 243, 0.7);
}

.work-showcase-webapp-link > a:active {
  background-color: rgba(255, 242, 204, 0.5);
}

.work-showcase-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-showcase-mobile-block {
  padding: 4vw;
}

.work-showcase-mobile-block-title {
  font-size: calc(3vw + 2px);
  font-weight: 700;
  letter-spacing: -0.05em;
}

.work-showcase-mobile-block-des {
  font-size: calc(1.5vw + 2px);
  letter-spacing: -0.04em;
}

.work-showcase-mobile-block-des a {
  cursor: pointer;
  padding-bottom: 0.1em;
  border-bottom: 0.3em solid #dae3f3;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.work-showcase-mobile-block-des a:hover {
  border-bottom: 0.3em solid #f2d5d5;
}

.work-showcase-mobile-block-des a:active {
  border-bottom: 0.3em solid #fff2cc;
}

.work-showcase-mobile img {
  width: 46.2vw;
}

.work-skills {
  width: 100%;
  padding: 5vw 8vw;
  border-bottom: 0.05vw solid #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-skills .work-skills-title {
  position: relative;
  z-index: 1;
  margin-bottom: 4vw;
  font-size: calc(3vw + 2px);
  font-weight: 700;
  letter-spacing: -0.1em;
}

.work-skills .work-skills-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: calc(2vw + 2px);
}

.work-skills .work-skills-main .work-skills-main-1 {
  width: 50%;
}

.about {
  margin-top: 4vw;
  padding-top: 4vw;
}

.about-title-con {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-title {
  position: relative;
  z-index: 10;
  padding-right: 4vw;
  font-weight: 700;
  font-size: calc(4vw + 2px);
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.about-title:active {
  letter-spacing: 0.1em;
}

.about-title .about-title-text {
  position: relative;
  z-index: 2;
}

.about-title .about-highlight {
  width: 3.1em;
  height: 0.8em;
  background-color: #dae3f3;
  position: relative;
  z-index: 1;
  top: -0.8em;
  left: 0.4em;
}

.about-main {
  width: 100%;
}

.about-main-block {
  border-bottom: 0.05vw solid #bebebe;
  padding: 4vw;
}

#soundcloud-link {
  background-color: #fff2cc;
}

#hec-link {
  background-color: #fff2cc;
}

.about-main-block .about-main-block-ques {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: calc(2vw + 2px);
  letter-spacing: -0.075em;
}

.about-main-block .about-main-block-ans {
  font-size: calc(1.5vw + 2px);
  font-weight: 400;
}

.contact {
  min-height: 40vw;
  width: 100%;
  margin-top: 20vw;
}

.contact-title {
  cursor: pointer;
  padding-left: 4vw;
  font-family: "Prata", "serif";
  font-size: calc(3vw + 2px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-title:active {
  margin-bottom: -1vw;
}

.contact-title-text {
  position: relative;
  z-index: 2;
}

.contact-title .contact-title-highlight {
  height: 0.6em;
  width: 10em;
  background-color: rgba(211, 235, 211, 0.5);
  position: relative;
  z-index: 1;
  bottom: 0.8em;
  left: 0.3em;
}

.contact-main {
  padding: 4vw;
  padding-top: 0px;
  padding-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-block {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-block-info {
  cursor: text;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  font-size: calc(1.5vw + 2px);
  letter-spacing: -0.05em;
}

.contact-block-info:hover {
  opacity: 0.8;
}

.contact-block-title {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: calc(1.5vw + 2px);
  font-weight: 700;
  letter-spacing: -0.1em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-block-title:hover {
  cursor: pointer;
  padding-left: 1em;
}

.contact-circle {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  background-color: #f2d5d5;
  position: absolute;
  z-index: 1;
  right: 20vw;
  margin-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1.5vw + 2px);
  color: #fafafa;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-circle:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -2vw);
          transform: translate(0, -2vw);
}

.contact-circle-2 {
  display: none;
}

@media only screen and (max-height: 300px) {
  .nav > div {
    display: none;
  }
}

.pointBallBig {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-size: cover;
  background-position: left;
  position: absolute;
  z-index: 50;
  display: none;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: calc(1vw + 2px);
  -webkit-animation: scaleInfinite 2s ease-out infinite;
          animation: scaleInfinite 2s ease-out infinite;
}

#soundcloud-ball {
  background-color: rgba(255, 242, 225, 0.9);
}

#hec-ball {
  background-color: rgba(219, 235, 255, 0.9);
}

.deco {
  cursor: pointer;
  height: 4vw;
  width: 1vw;
  position: fixed;
  -webkit-animation: falling 3s ease-in;
          animation: falling 3s ease-in;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.deco:active {
  height: 6vw;
  width: 1.5vw;
  opacity: 0;
}

.deco-1 {
  background-color: #f2d5d5;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.deco-2 {
  background-color: #dae3f3;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.deco-3 {
  background-color: #fff2cc;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.deco-4 {
  background-color: #d3ebd3;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}

@media only screen and (max-aspect-ratio: 3 / 2), only screen and (max-width: 812px) {
  #mobile {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 25;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  #mobile div {
    width: 80vw;
    font-size: 7vw;
    text-align: center;
  }
  .nav {
    display: none;
  }
  .link {
    display: none;
  }
  html, body {
    -ms-overflow-style: 0vw;
    /* Internet Explorer 10+ */
    scrollbar-width: 0vw;
  }
  #main, .main {
    margin: 0;
    width: 100vw;
  }
  .home {
    width: 92vw;
    padding: 4vw;
    padding-top: 1.4vw;
  }
  .home-languages a {
    font-size: 4vw;
    margin-left: 1em;
  }
  .home-header {
    margin-top: 7vw;
    position: relative;
    z-index: 3;
  }
  .home-pre-title {
    font-size: 5.525vw;
  }
  .home-circle {
    width: 70vw;
    height: 70vw;
    top: -30vw;
    left: -25vw;
    z-index: 1;
  }
  .home-circle-2 {
    width: 24.5vw;
    height: 24.5vw;
    background-color: rgba(211, 235, 211, 0.5);
    border-radius: 50%;
    left: 90vw;
    top: 110vw;
    font-size: 3vw;
  }
  .home-circle-2 > div {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    text-align: right;
    -webkit-animation: none;
            animation: none;
  }
  .home-circle-2 > div > p {
    width: 75%;
  }
  .home-circle-2:active, .home-circle-2 > div:active {
    opacity: 1;
    background-color: rgba(211, 235, 211, 0.25);
    left: 80vw;
  }
  .home-title {
    margin-top: 10.5vw;
    font-size: 19vw;
    text-align: right;
    position: relative;
    z-index: 20;
  }
  .home-sub-title-con {
    margin-top: 42vw;
    margin-bottom: 7vw;
  }
  .home-sub-title {
    width: 100%;
    font-size: 5vw;
  }
  .home-click-on-it {
    opacity: 1 !important;
    font-size: 4vw;
  }
  .home-img {
    top: -84vw;
    left: 0;
  }
  .home-img .home-img-filter, .home-img img {
    height: 35vw;
    width: 35vw;
    left: -2vw;
  }
  .home-img .home-img-filter .home-img-filter-1 {
    height: 17.5vw;
    width: 17.5vw;
  }
  .quote {
    margin-top: 40vw;
    margin-bottom: 80vw;
  }
  .quote .quote-img-hand {
    margin-top: -7vw;
    left: -20vw;
  }
  .quote .quote-img-hand img {
    width: 52.5vw;
    -webkit-transform: translate(-40vw, 0);
            transform: translate(-40vw, 0);
  }
  .quote-doublequotes {
    margin-top: -1.2em;
    left: -12vw;
    font-size: 22.8vw;
    -webkit-transform: translate(-40vw, 0);
            transform: translate(-40vw, 0);
  }
  .quote .quote-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    font-size: 9vw;
  }
  .quote .quote-text p {
    width: 50%;
    margin-top: 0;
  }
  .work {
    margin-top: 0;
  }
  .work-title {
    font-size: 12vw;
  }
  .work-intro {
    font-size: 5vw;
  }
  .work-main {
    width: 100%;
    border: none;
    padding-top: 7vw;
    margin-top: 14vw;
    margin-bottom: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work-main .work-main-block {
    height: 15vw;
    width: 50%;
    border-left: none;
  }
  .work-main-block-title {
    font-size: 5vw;
  }
  .work-main-block-des {
    display: none;
  }
  .work-showcase-artworks img {
    width: 100%;
    height: auto;
  }
  .work-showcase-artworks-pallete {
    display: none;
  }
  .work-showcase-webapp > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-showcase-webapp > div:last-child {
    display: none;
  }
  .work-showcase-webapp-img {
    width: 100%;
    height: 55vw;
    border: none;
  }
  .work-showcase-webapp-block {
    width: 100%;
    padding: 5vw 0;
  }
  .work-showcase-webapp-des {
    width: 100%;
    margin-bottom: 3vw;
    font-size: 4vw;
    letter-spacing: -0.05em;
  }
  .work-showcase-webapp-link > a {
    font-size: 5vw;
    letter-spacing: -0.05em;
  }
  .work-showcase-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-showcase-mobile img {
    width: 100vw;
  }
  .work-showcase-mobile-block {
    padding: 8.4vw 7vw;
  }
  .work-showcase-mobile-block-title {
    font-size: 5vw;
  }
  .work-showcase-mobile-block-des {
    font-size: 4vw;
  }
  .work-skills {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15vw 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-skills .work-skills-title {
    text-align: left;
    font-size: 7.65vw;
  }
  .work-skills .work-skills-main {
    width: 100vw;
    font-size: 5vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work-skills .work-skills-main-1 {
    width: 100vw;
    margin-top: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .work-skills .work-skills-main-1 > div {
    width: 100vw;
  }
  .about {
    margin-top: 28vw;
  }
  .about-title {
    font-size: 12vw;
  }
  .about-main-block {
    padding-top: 7vw;
    padding-bottom: 7vw;
  }
  .about-main-block .about-main-block-ques {
    font-size: 5.525vw;
  }
  .about-main-block .about-main-block-ans {
    font-size: 4.8vw;
    letter-spacing: -0.05em;
  }
  .contact {
    min-height: 100vw;
    margin-top: 40vw;
    margin-bottom: 50vw;
  }
  .contact-title {
    font-size: 7.5vw;
    margin-bottom: 7vw;
  }
  .contact-circle {
    height: 18vw;
    width: 18vw;
    right: 2vw;
    margin-top: 20vw;
    font-size: 4vw;
    text-align: center;
  }
  .contact-circle-2 {
    cursor: pointer;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: rgba(218, 227, 243, 0.5);
    display: block;
    position: absolute;
    z-index: 10;
    left: -15vw;
    margin-top: -10vw;
  }
  .contact-circle-2:active {
    margin-top: -5vw;
  }
  .contact-block {
    margin-bottom: 7vw;
  }
  .contact-block-info, .contact-block a {
    font-size: 4.8vw;
  }
  .work-showcase-artworks-copied {
    font-size: 3.2vw;
  }
  .load-title {
    font-size: 9vw;
  }
  .load-sub-title {
    font-size: 4vw;
  }
  .hamburger {
    height: 14vw;
    width: 14vw;
    background-color: rgba(253, 253, 253, 0.6);
    border-radius: 50%;
    border: 0.1vw solid #bebebe;
    position: fixed;
    z-index: 40;
    bottom: 5.25vw;
    right: 5.25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 6.5vw;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .hamburger:active {
    opacity: 0.75;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .nav-mobile {
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 250, 250, 0.95);
    position: fixed;
    z-index: 35;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -0.07em;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .nav-mobile div {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nav-mobile-head {
    margin-bottom: 7vw;
    font-size: 4vw;
  }
  .nav-mobile-opt {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 3.5vw;
    background-position: 0;
    background-size: 200%;
    margin-bottom: 0.5em;
    font-size: 9vw;
    font-weight: 700;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .nav-mobile-opt:hover {
    background-position: -100%;
  }
  .nav-mobile-opt-1 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #d3ebd3));
    background-image: linear-gradient(to right, transparent 50%, #d3ebd3 50%);
  }
  .nav-mobile-opt-2 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #f2d5d5));
    background-image: linear-gradient(to right, transparent 50%, #f2d5d5 50%);
  }
  .nav-mobile-opt-3 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #fff2cc));
    background-image: linear-gradient(to right, transparent 50%, #fff2cc 50%);
  }
  .nav-mobile-opt-4 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #dae3f3));
    background-image: linear-gradient(to right, transparent 50%, #dae3f3 50%);
  }
  .link-cv-con {
    margin-bottom: 14vw;
    margin-top: 7vw;
  }
  .link-cv {
    height: 2em;
    padding-bottom: 0.1em;
    border-bottom: 0.3em solid rgba(190, 190, 190, 0.3);
    font-size: 4vw;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .link-cv:active {
    font-size: 4.2vw;
  }
  .deco {
    height: 12vw;
    width: 3vw;
  }
}
/*# sourceMappingURL=main.css.map */