// z-index

// LINK 10
// NAV 20

// HOME 10
// home-circle -5
// home-img -1
// home-img filter -2 (under home-img)


// font style 
$fontDisplay: 'Prata', 'serif';

// Colors
$pink: rgb(242,213,213);
$yellow: rgb(255,242,204);
$blue: rgb(218,227,243);
$green: rgb(211, 235, 211);
$lightGray: rgb(190, 190, 190);
$lightWhite: rgb(250, 250, 250);

// Font weight
$light: 400;
$bold: 700;

// components size
$navWidth: 7vw;
$imgHomeWidth: 25vw;
$imgHandWidth: 20vw;
$doublequotesWidth: 7vw;
$scrollBarWidth: 0.6vw;

$quoteSectionHeight: 30vw;

// standard size
$mainWidth: 100vw - $navWidth - $scrollBarWidth;
$marginStandard: 4vw;

$paddingButton: 0.3em 1em;
$thinLine: 0.05vw;


// Font sizes 
$fontSmall: calc(1vw + 2px);
$fontSemi: calc(1.5vw + 2px);
$fontSemiBig: calc(2vw + 2px);
$fontSemiBigger: calc(3vw + 2px);
$fontBig: calc(4vw + 2px);
$fontHuge: calc(7vw + 2px);


html,body {
  margin: 0;
  padding: 0;

  background-color: $lightWhite;

  overflow-x: hidden;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  -ms-overflow-style: 1vw;  /* Internet Explorer 10+ */
  scrollbar-width: 1vw;

  font-family: "Karla", 'ATC Arquette 1_5_17', sans-serif;
  letter-spacing: -0.02em;
  font-weight: $light;
}

html, body div {
  transition: all 0.4s;
}

a, button {
  color: inherit;
  text-decoration: none;
  outline: none;
}


::-webkit-scrollbar {
  cursor: pointer;
  width: $scrollBarWidth;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;

  background: $green;
  border-radius: 999px;
}

::-moz-selection { /* Code for Firefox */
  color: ffffff;
  background: $lightGray;
}

::selection {
  color: $lightWhite;
  background: $lightGray;
}

// changes to mobile version
#mobile {
  display: none;
}

.hamburger {
  display: none;
}

.nav-mobile, #nav-mobile {
  display: none;
}

// animation 

@keyframes loadingPage {
  0% {color: $pink;}
  25% {color: $yellow;}
  50% {color: $green;}
  75% {color: $blue;}
  100% {color: $pink;}
}

@keyframes blowUp {
  0% {transform: scale(1)}
  100% {transform: scale(1.5); opacity: 0;}
}

@keyframes appear {
  0% {opacity: 0; transform: translate(0, 5vw)}
  100% {opacity: 1; transform: none;}
}
@keyframes disappear {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes handOut {
  0% {transform: translate(inherit, 0)}
  50% {transform: translate(0, 0)}
  100% {transform: translate(inherit, 0)}

}

@keyframes doublequotes {
  0% {transform: translate(inherit, 0)}
  25% {transform: translate(0, 0)}
  50% {transform: translate(inherit, 0)}
  75% {transform: translate(0, 0)}
  100% {transform: translate(inherit, 0)}
}

@keyframes slideOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes homeCircleOpacity {
  0% {opacity: 1;}
  40% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}


// ball

@keyframes scaleInfinite {
  0% {transform: scale(1) translate(-50%, -70%)}
  50% {transform: scale(1.1) translate(-50%, -70%)}
  100% {transform: scale(1) translate(-50%, -70%)}
}

// falling
@keyframes falling {
  0% {margin-top: 0;}
  100% {margin-top: 100vh;}
}


// MAIN CSS

.load {
  height: 100vh;
  width: 100vw;

  background-color: $lightWhite;
  position: fixed;
  z-index: 50;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.load-title {
  color: $lightGray;

  font-size: $fontSemiBig;
  letter-spacing: -0.05em;
}

.load-color {
  font-weight: $bold;
  animation: loadingPage 3s linear infinite;
}

.load-sub-title {
  font-size: $fontSmall;
  color: $lightGray;
}



#main {
  background-color: transparent;
}

// hide elements 
#quote>div, #work>div, #about>div, #contact div {
  opacity: 0;
}


.nav {
  height: 100vh;
  width: $navWidth;

  border-left: $thinLine solid $lightGray;
  background-color: $lightWhite;

  position: fixed;
  right: 0;
  z-index: 20;

  display: flex;
  flex-direction: column;

  font-size: $fontSmall;
}

.nav-block {
  cursor: pointer;
}
.nav-ball {
  height: 0.5em;
  width: 0.5em;

  border-radius: 50%;
  transition: all 0.3s;
}

.nav-ball:active {
  transform: translate(0, -1vw);
}

#nav-ball-home {
  background-color: $green;
}

#nav-ball-work {
  background-color: $pink;
}

#nav-ball-about {
  background-color: $yellow;
}

#nav-ball-contact {
  background-color: $blue;
}

.nav>div {
  height: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-block p {
  width: 1em;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  transform: rotate(-90deg);
}

.link {
  width: $mainWidth;

  position: fixed;
  bottom: $marginStandard*0.75;

  z-index: 30;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: $fontSmall;
}

#link-cv {
  border: $thinLine solid $lightGray;
  background-color: $lightWhite;
  border-radius: 999px;

  padding: $paddingButton;

  margin-left: $marginStandard;

  transition: all 0.4s;
}

#link-cv-click-on-it {
  margin-left: 1em;
  color: $lightGray;
  transition: all 0.4s;
}


.link-logo {
  opacity: 0;
  height: 0.25em;
  width: fit-content;

  background-color: $lightWhite;
  margin-right: $marginStandard;
  display: flex;
  align-items: center;

  font-weight: $bold;
  transition: all 0.4s;
}

.nav-logo>div {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $fontSemi;
}

// main part

.main {
  width: $mainWidth;
}

// home screen
.home {
  padding: $marginStandard;
  position: relative;

  z-index: 15;
}

// home header
.home-header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: $marginStandard*1.7;
}
// home-pre-title

.home-pre-title {
  font-weight: $bold;
  font-size: $fontSemi;
}

// languages

.home-languages {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: $fontSmall;
}

.home-languages a {
  margin-left: 2em;
  padding-bottom: 0.2em;

  font-size: $fontSmall;
}

// Home title
.home-title {
  font-size: $fontHuge;
  font-weight: $bold;

}

.home-sub-title {
  font-size: $fontSemiBig;
}

.home-title-highlight {
  background-color: $pink;
  transition: all 0.3s;
}

.home-title-highlight:hover {
  cursor: pointer;
  opacity: 0.75;
}

.home-click-on-it {
  opacity: 0;
  margin-top: 1em;

  font-size: $fontSmall;
  color: $lightGray;

  transition: all 0.3s;
}


// home circle
.home-circle {
  cursor: pointer;

  height: $imgHomeWidth;
  width: $imgHomeWidth;

  border-radius: 50%;
  background-color: $yellow;
  
  position: absolute;
  z-index: -5;

  top: - $imgHomeWidth*0.5;
  left: - $imgHomeWidth*0.5;

  transition-timing-function: cubic-bezier(0.15,0.7,0.15,0.7);
}


.home-circle:hover {
  transform: scale(1.5);
}


.home-circle-2 {
  cursor: pointer;

  height: $imgHomeWidth*0.6;
  width: $imgHomeWidth*0.6;
  border-radius: 50%;

  background-color: rgba($green, 0.3);
  top: $imgHomeWidth*2;
  left: $imgHomeWidth*0.5;

  position: absolute;
  z-index: -5;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: $fontSmall;
  color: rgba(black, 0.5);

  transition: all 0.4s;
}


.home-circle-2>div {
  width: 60%;
  animation: homeCircleOpacity 5s ease infinite;
}

.home-circle-2:active {
  opacity: 0;
}

.home-img {
  position: relative;
  right: - $marginStandard * 1.5;
  z-index: -1;
}

.home-img img {
  height: $imgHomeWidth;
  border-radius: 50%;

  position: absolute;
  right: 0;

  opacity: 0.6;

}
.home-img .home-img-filter {
  height: $imgHomeWidth;
  width: $imgHomeWidth;

  border-radius: 50%;
  background-color: $blue;

  position: absolute;
  right: 0;

  z-index: -2;
}

.home-img-filter .home-img-filter-1 {
  height: $imgHomeWidth*0.5;
  width: $imgHomeWidth*0.5;

  border-radius: 50%;
  background-color: $blue;

  position: absolute;
  left: - $imgHomeWidth*0.3;
  z-index: -2;

  transition: all 0.5s;
}


.home-img-filter-1:hover {
  cursor: pointer;
  animation: blowUp 0.5s ease-out forwards;
}

// quote part

.quote {
  margin-top: 30vw;
  padding-bottom: 10vw;

  position: relative;
  z-index: 20;
}


.quote .quote-text {
  width: 100%;
  height: $quoteSectionHeight;
  position: relative;
  z-index: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $fontSemiBigger;
  font-family: $fontDisplay;

  color: rgb(51, 51, 51);
}

.quote .quote-img-hand {
  height: $quoteSectionHeight;
  
  position: absolute;
  z-index: 5;
  left: 0;

  display: flex;
  align-items: center;

  opacity: 0.5;
}

.quote .quote-img-hand img {
  width: $imgHandWidth;
  transform: translate(-25vw, 0)
}
.quote-doublequotes {
  cursor: pointer;

  position: relative;
  top: - $marginStandard*2;
  left: -0.5em;

  font-size: $doublequotesWidth;
  font-family: $fontDisplay;
  color: $pink;

  transform: translate(-25vw, 0)
}

.pink-text, .color-1 {
  color: $pink;
}
.yellow-text, .color-2 {
  color: $yellow;
}
.blue-text, .color-3 {
  color: $blue;
}
.green-text, .color-4 {
  color: $green;
}






// work part


.work {
  padding-top: $marginStandard;
}

.work-title {
  cursor: pointer;

  padding-left: $marginStandard;

  font-weight: $bold;
  font-size: $fontBig;
  color: black;

  transition: all 0.05s;
}

.work-title:active {
  letter-spacing: 0.1em;
}


.work-title-text {
  position: relative;
  z-index: 2;
}

.work-title .work-highlight {
  width: 2.8em;
  height: 0.8em;

  background-color: $yellow;

  position: relative;
  z-index: 1;

  top: -0.8em;
  left: 0.4em;
}

// work intro

.work-intro {
  padding-left: $marginStandard;
  font-size: $fontSemiBig
}

.work-intro a {
  background-color: $blue;
  transition: all 0.3s;
}

.work-intro a:hover {
  opacity: 0.75;
}

.work-main {
  width: 100%;
  margin-top: $marginStandard;
  
  border-top: $thinLine solid $lightGray;
  border-bottom: $thinLine solid $lightGray;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}


.work-main-block {
  height: 12vw;
  // background-size: cover;
  // background-position: center;
  // background-blend-mode: saturation;

  background-color: transparent;

  border-left: $thinLine solid $lightGray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-main-block:hover {
  cursor: pointer;
}

.work-main-block-title {
  height: 0.4em;
  width: auto;

  background-image: linear-gradient(to right, transparent 50%, $pink 50%);
  background-position: 0;
  background-size: 200%;
  margin-bottom: 0.5em;

  display: flex;
  align-items: center;

  text-align: center;
  font-family: $fontDisplay;
  font-size: $fontSemi;

  transition: all 0.6s;

}

.work-main-block-des {
  font-size: $fontSmall;
  text-align: center;
}

// work-showcase;

#work-showcase {
  width: 100%;
  border-bottom: $thinLine solid $lightGray;

  transition: all 0.4s;
}


.work-showcase>div {
  opacity: 0;
  animation: slideOpacity 1s ease-out forwards;

}

// showcase artworks

.work-showcase-artworks {
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;

}

.work-showcase-artworks-copied {
  opacity: 0;

  position: relative; 
  bottom: 0.5vw;
  
  font-size: $fontSmall;
  color: $lightGray;
  letter-spacing: -0.05em;
  transition: all 0.2s;
}

.work-showcase-artworks-pallete {
  width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-size: $fontSmall;
}


.work-showcase-artworks-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 


.work-showcase-artworks-color-name {
  cursor: text;

  user-select: text;
  margin-top: 1em;
}

.work-showcase-artworks-color-ball {
  cursor: pointer;

  height: $marginStandard*1.5;
  width: $marginStandard*1.5;

  border-radius: 50%;
}

.work-showcase-artworks-color-ball:hover {
  transform: translate(0, -0.5vw);
}


.work-showcase-artworks img {
  width: $mainWidth*0.5;
  transition: all 0.5s;
}

// web app & static app
.work-showcase-webapp {
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-wrap: wrap;
}

.work-showcase-webapp-img {
  width: ($mainWidth - $thinLine*3)/2;
  height: 27vw;
  
  border-left: $thinLine solid $lightGray;
  border-bottom: $thinLine solid $lightGray;

  background-size: cover;
  background-position: center;
}

.work-showcase-webapp-block {
  width: 100%;
  height: 100%;
  opacity: 0;

  background-color: rgba($lightWhite, 0.85);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-size: $fontSmall;
  letter-spacing: -0.04em;
  text-align: center;
}

.work-showcase-webapp-des {
  padding: $marginStandard*0.5;
  font-size: $fontSemi;
}

.work-showcase-webapp-des:hover {
  transform: scale(1.05);
}

.work-showcase-webapp-link {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: $fontSemi;
  font-weight: 500;
  color: rgb(45, 45, 45);
}

.work-showcase-webapp-link>a {
  cursor: pointer;
  height: 2.5em;
  width: 2.5em;

  margin: 0 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  border: $thinLine*1.5 solid $lightGray;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.4s;
}

.work-showcase-webapp-link>a:hover {
  background-color: rgba($blue, 0.7);
}

.work-showcase-webapp-link>a:active {
  background-color: rgba($yellow, 0.5);
}


// showcase react native 
.work-showcase-mobile {
  display: flex
}

.work-showcase-mobile-block {
  padding: $marginStandard
}

.work-showcase-mobile-block-title {
  font-size: $fontSemiBigger;
  font-weight: $bold;
  letter-spacing: -0.05em;
}

.work-showcase-mobile-block-des {
  font-size: $fontSemi;
  letter-spacing: -0.04em;
}

.work-showcase-mobile-block-des a {
  cursor: pointer;

  padding-bottom: 0.1em;
  border-bottom: 0.3em solid $blue;
  transition: all 0.4s;
}

.work-showcase-mobile-block-des a:hover {
  border-bottom: 0.3em solid $pink;
}

.work-showcase-mobile-block-des a:active {
  border-bottom: 0.3em solid $yellow;
}

.work-showcase-mobile img {
  width: $mainWidth*0.5
}

// work skills

.work-skills {
  width: 100%;
  padding: 5vw $marginStandard * 2;

  border-bottom: $thinLine solid $lightGray;

  display: flex;
  flex-direction: column;
}

.work-skills .work-skills-title {  
  position: relative;
  z-index: 1;

  margin-bottom: $marginStandard;

  font-size: $fontSemiBigger;
  font-weight: $bold;
  letter-spacing: -0.1em;
}

.work-skills .work-skills-main {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  font-size: $fontSemiBig;
}

.work-skills .work-skills-main .work-skills-main-1 {
  width: 50%;
}

// about
.about {
  margin-top: $marginStandard;
  padding-top: $marginStandard;
}

.about-title-con {
  cursor: pointer;
  width: 100%;

  display: flex;
  justify-content: flex-end;

}

.about-title {
  position: relative;
  z-index: 10;

  padding-right: $marginStandard;

  font-weight: $bold;
  font-size: $fontBig;

  transition: all 0.05s;
}
.about-title:active {
  letter-spacing: 0.1em;
}

.about-title .about-title-text {
  position: relative;
  z-index: 2;
}

.about-title .about-highlight {
  width: 3.1em;
  height: 0.8em;

  background-color: $blue;

  position: relative;
  z-index: 1;

  top: -0.8em;
  left: 0.4em;
}

// about main part 

.about-main {
  width: 100%;

}

.about-main-block {

  border-bottom: $thinLine solid $lightGray;
  padding: $marginStandard;
}

#soundcloud-link {
  background-color: $yellow;
}

#hec-link {
  background-color: $yellow;
}

.about-main-block .about-main-block-ques {
  margin-bottom: 0.5em;

  font-weight: $bold;
  font-size: $fontSemiBig;
  letter-spacing: -0.075em;
}

.about-main-block .about-main-block-ans {
  font-size: $fontSemi;
  font-weight: $light;
}

// contact part
.contact {
  min-height: 40vw;
  width: 100%;

  margin-top: $marginStandard*5;
}

.contact-title {
  cursor: pointer;
  padding-left: $marginStandard;
  
  font-family: $fontDisplay;
  font-size: $fontSemiBigger;

  transition: all 0.5s;
}

.contact-title:active {
  margin-bottom: -1vw;
}

.contact-title-text {
  position: relative;
  z-index: 2
}

.contact-title .contact-title-highlight {
  height: 0.6em;
  width: 10em;

  background-color: rgba($green, 0.5);

  position: relative;
  z-index: 1;
  bottom: 0.8em;
  left: 0.3em;
}

.contact-main {
  padding: $marginStandard;
  padding-top: 0px;
  padding-bottom: $marginStandard*0.5;

  display: flex;
  flex-direction: column;
}


.contact-block {
  margin-top: $marginStandard*0.5;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.contact-block-info {
  cursor: text;
  user-select: text;

  font-size: $fontSemi;
  letter-spacing: -0.05em;
}

.contact-block-info:hover {
  opacity: 0.8;
}

.contact-block-title {
  cursor: pointer;
  width: fit-content;

  font-size: $fontSemi;
  font-weight: $bold;
  letter-spacing: -0.1em;

  transition: all 0.4s;
}

.contact-block-title:hover {
  cursor: pointer;
  padding-left: 1em;
}


.contact-circle {
  height: 12vw;
  width: 12vw;
  
  border-radius: 50%;
  background-color: $pink;

  position: absolute;
  z-index: 1;
  right: 20vw;
  margin-top: 5vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $fontSemi;
  color: $lightWhite;

  transition: all 0.4s;
}

.contact-circle:hover {
  cursor: pointer;
  transform: translate(0, -2vw);
}

.contact-circle-2 {
  display: none;
}

@media only screen and (max-height: 300px) {
  .nav>div {
    display: none;
  }
}

.pointBallBig {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;

  background-size: cover;
  background-position: left;

  position: absolute;
  z-index: 50;
  display: none;

  display: none;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: $fontSmall;

  animation: scaleInfinite 2s ease-out infinite;
}



#soundcloud-ball {
  background-color: rgba(255, 242, 225, 0.9);

}

#hec-ball {
  background-color: rgba(219, 235, 255, 0.9);
}


// #email-ball, #phone-ball, #insta-ball, #github-ball {
//   height: 6vw;
//   width: 6vw;

//   background-color: $lightWhite;
//   box-shadow: 4px 4px 40px -20px $lightGray;

//   font-size: $fontSmall;
//   letter-spacing: -0.1em;
// }



// elements

.deco {
  cursor: pointer;

  height: 4vw;
  width: 1vw;
  position: fixed;

  animation: falling 3s ease-in;
  transition: all 1s;
}

.deco:active {
  height: 6vw;
  width: 1.5vw;

  opacity: 0;
}

.deco-1 {
  background-color: $pink;
  transform: rotate(40deg);
}

.deco-2 {
  background-color: $blue;
  transform: rotate(-40deg);
}

.deco-3 {
  background-color: $yellow;
  transform: rotate(-20deg);
}

.deco-4 {
  background-color: $green;
  transform: rotate(-80deg);
}




@media only screen and (max-aspect-ratio: 3/2), only screen and (max-width: 812px) {


  #mobile {
    height: 100vh;
    width: 100vw;

    position: fixed;
    z-index: 25;
    background-color: $lightWhite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
  }

  #mobile div {
    width: 80vw;

    font-size: 7vw;
    text-align: center;
  }


// standardized size
// $mainWidth: 93vw; // scroll-bar == 1vw; nav == 7vw
$marginStandardM: 7vw;

$paddingButton: 0.3em 1em;
$thinLineM: 0.1vw;


// Font sizes 
$fontSmallM: 4vw;
$fontSemiM: 5vw;
$fontSemiBigM: 6.5vw;
$fontSemiSemiM: 7.5vw;
$fontSemiBiggerM: 9vw;
$fontBigM: 12vw;
$fontHugeM: 19vw;

// components size
$navWidth: 7vw;
$imgHomeWidthM: 35vw;
$imgHandWidth: 20vw;
$doublequotesWidth: 7vw;

$quoteSectionHeight: 30vw;


  // hide components from desktop version 
  .nav {
    display: none;
  }
  .link {
    display: none;
  }


  //main
  html,body {
    -ms-overflow-style: 0vw;  /* Internet Explorer 10+ */
    scrollbar-width: 0vw;
  }

  #main, .main {
    margin: 0;
    width: 100vw;
  }

  .home {
    width: 100vw - $marginStandard*2;
    padding: $marginStandard;
    padding-top: $marginStandardM*0.2;
  }

  .home-languages a {
    font-size: $fontSmallM;
    margin-left: 1em;
  }
  .home-header {
    margin-top: $marginStandardM;
    position: relative;
    z-index: 3;
  }
  .home-pre-title {
    font-size: $fontSemiBigM*0.85;
  }

  // home circles

  .home-circle {
    width: $imgHomeWidthM*2;
    height: $imgHomeWidthM*2;

    top: -30vw;
    left: -25vw;

    z-index: 1;
  }

  // may display: none the home-circle-2
  .home-circle-2 {
    width: $imgHomeWidthM*0.7;
    height: $imgHomeWidthM*0.7;
    background-color: rgba($green, 0.5);
    border-radius: 50%;

    left: 90vw;
    top: 110vw;

    // display: none;

    font-size: $fontSmallM*0.75;
  }

  
  .home-circle-2>div {  
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
      
    margin: 0;
    padding: 0;

    text-align: right;
    animation: none;
  }

  .home-circle-2>div>p {
    width: 75%;
  }

  .home-circle-2:active, .home-circle-2>div:active {
    opacity: 1;
    background-color: rgba($green, 0.25);
    left: 80vw;

  }

  // END home-circles

  .home-title {
    margin-top: $marginStandardM*1.5;
    font-size: $fontHugeM;
    text-align: right;

    position: relative;
    z-index: 20;
  }

  // sub title mobile
  .home-sub-title-con {
    margin-top: $marginStandardM*6;
    margin-bottom: $marginStandardM;

  }
  .home-sub-title {
    width: 100%;

    font-size: $fontSemiM;
  }
  .home-click-on-it {
    opacity: 1 !important;
    font-size: $fontSmallM;
  }


  // home img

  .home-img {
    top: -$marginStandardM*12;
    left: 0;
  }
  .home-img .home-img-filter, .home-img img {
    height: $imgHomeWidthM;
    width: $imgHomeWidthM;

    left: -2vw;
  }

  .home-img .home-img-filter .home-img-filter-1 {
    height: $imgHomeWidthM*0.5;
    width: $imgHomeWidthM*0.5;
  
  }

  // .quote part 

  .quote {
    margin-top: 40vw;
    margin-bottom: 80vw;
  }
  .quote .quote-img-hand {
    margin-top: -$marginStandardM;
    left: -20vw;
  }

  .quote .quote-img-hand img{
    width: $imgHomeWidthM*1.5;
    transform: translate(-40vw, 0)
  }
  .quote-doublequotes {
    margin-top: -1.2em;
    left: -12vw;
    font-size: $fontHugeM*1.2;
    transform: translate(-40vw, 0)

  }

  .quote .quote-text {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;

    align-items: flex-start;
    text-align: center;
    
    font-size: $fontSemiBiggerM;
  }

  .quote .quote-text p {
    width: 50%;
    margin-top: 0;
  }

  // work 
  .work {
    margin-top: 0;
  }
  .work-title {
    font-size: $fontBigM;
  }
  .work-intro {
    font-size: $fontSemiM;
  }
  .work-main {
    width: 100%;
    border: none;
    padding-top: $marginStandardM;

    margin-top: $marginStandardM*2;
    margin-bottom: $marginStandardM;

    display: flex;
    flex-wrap: wrap;
  }
  .work-main .work-main-block {
    height: 15vw;
    width: 50%;
    border-left: none;
  }

  .work-main-block-title {
    font-size: $fontSemiM;
  }

  .work-main-block-des {
    display: none;
  }

  // showcase artwork 
  .work-showcase-artworks img {
    width: 100%;
    height: 100%;
  }
  .work-showcase-artworks-pallete {
    display: none;
  }

  .work-showcase-webapp>div {
    display: flex;
    flex-direction: column;
  }

  .work-showcase-webapp>div:last-child {
    display: none;
  }

  .work-showcase-webapp-img {
    width: 100%;
    height: 55vw;
    border: none;
  }
  .work-showcase-webapp-block {
    width: 100%;
    padding: 5vw 0;
  }
  .work-showcase-webapp-des {
    width: 100%;
    margin-bottom: 3vw;
    font-size: $fontSmallM;
    letter-spacing: -0.05em;
  }
  .work-showcase-webapp-link>a {
    font-size: $fontSemiM;
    letter-spacing: -0.05em;
  }

  // showcase react native 
  .work-showcase-mobile {
    display: flex;
    flex-direction: column;
  }

  .work-showcase-mobile img {
    width: 100vw
  }

  .work-showcase-mobile-block {
    padding: $marginStandardM*1.2 $marginStandardM;
  }

  .work-showcase-mobile-block-title {
    font-size: $fontSemiM;
  }
  .work-showcase-mobile-block-des {
    font-size: $fontSmallM;
  }

  // work skills mobile
  .work-skills {
    width: 100%;
    height: fit-content;
    padding: 15vw $marginStandardM;

    display: flex;
    flex-direction: column;  
  }
  .work-skills .work-skills-title {
    text-align: left;
    font-size: $fontSemiBiggerM * 0.85;
  }

  .work-skills .work-skills-main {
    width: 100vw;
    font-size: $fontSemiM;
    align-items: flex-start;
  }

  .work-skills .work-skills-main-1 {
    width: 100vw;
    margin-top: 5vw;

    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .work-skills .work-skills-main-1>div {
    width: 100vw;
  }
  // about mobile
  .about {
    margin-top: $marginStandardM*4;
  }
  .about-title {
    font-size: $fontBigM;
  }
  .about-main-block {
    padding-top: $marginStandardM;
    padding-bottom: $marginStandardM;

  }
  .about-main-block .about-main-block-ques {
    font-size: $fontSemiBigM * 0.85;
  }
  .about-main-block .about-main-block-ans {
    font-size: $fontSmallM * 1.2;
    letter-spacing: -0.05em;
  }

  // contact mobile 
  .contact {
    min-height: 100vw;
    margin-top: 40vw;
    margin-bottom: 50vw;
  }

  .contact-title {
    font-size: $fontSemiSemiM;
    margin-bottom: $marginStandardM;
  }

  .contact-circle {
    height: 18vw;
    width: 18vw;

    right: 2vw;
    margin-top: 20vw;

    font-size: $fontSmallM;
    text-align: center;
  }

  .contact-circle-2 {
    cursor: pointer;
    height: 30vw;
    width: 30vw;
    
    border-radius: 50%;
    background-color: rgba($blue, 0.5);
    
    display: block;
    position: absolute;
    z-index: 10;
    left: -15vw;
  
    margin-top: -10vw;
  }
  
  .contact-circle-2:active {
    margin-top: -5vw;
  }

  .contact-block {
    margin-bottom: $marginStandardM;
  }
  .contact-block-info, .contact-block a {
    font-size: $fontSmallM*1.2;
  }
  .work-showcase-artworks-copied {
    font-size: $fontSmallM*0.8;
  }
  // extra components

  .load-title {
    font-size: $fontSemiBiggerM;
  }
  .load-sub-title {
    font-size: $fontSmallM;
  }
  // hamburger
  .hamburger {
    height: $marginStandardM*2;
    width: $marginStandardM*2;
    background-color: rgba(253, 253, 253, 0.6);

    border-radius: 50%;
    border: $thinLineM solid $lightGray;

    position: fixed;
    z-index: 40;
    bottom: $marginStandardM*0.75;
    right: $marginStandardM*0.75;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $fontSemiBigM;
    transition: all 0.25s;
  }

  .hamburger:active {
    opacity: 0.75;
    transform: scale(1.2);
  }

  // nav-mobile 
  .nav-mobile {
    width: 100vw;
    height: 100vh;

    background-color: rgba($lightWhite, 0.95);

    position: fixed;
    z-index: 35;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: -0.07em;
    text-align: center;

    transition: all 0.4s;
  }

  .nav-mobile div {
    transition: all 0.2s;
  }

  .nav-mobile-head {
    margin-bottom: $marginStandardM;
    font-size: $fontSmallM;
  }

  .nav-mobile-opt {
    width: fit-content;
    margin-bottom: $marginStandardM*0.5;

    background-position: 0;
    background-size: 200%;
    margin-bottom: 0.5em;

    font-size: $fontSemiBiggerM;
    font-weight: $bold;

    transition: all 0.25s;
  }

  .nav-mobile-opt:hover {
    background-position: -100%;
  }

  .nav-mobile-opt-1 {
    background-image: linear-gradient(to right, transparent 50%, $green 50%);
  }
  .nav-mobile-opt-2 {
    background-image: linear-gradient(to right, transparent 50%, $pink 50%);
  }
  .nav-mobile-opt-3 {
    background-image: linear-gradient(to right, transparent 50%, $yellow 50%);
  }
  .nav-mobile-opt-4 {
    background-image: linear-gradient(to right, transparent 50%, $blue 50%);
  }

  .link-cv-con {
    margin-bottom: $marginStandardM*2;
    margin-top: $marginStandardM;
  }

  .link-cv {
    height: 2em;

    padding-bottom: 0.1em;
    border-bottom: 0.3em solid rgba($lightGray, 0.3);

    font-size: $fontSmallM;
    transition: all 0.3s;
  }

  .link-cv:active {
    font-size: $fontSmallM*1.05;
  }

  // deco component
  .deco {
    height: 12vw;
    width: 3vw;
  }
}
